<!-- PE076DS-3 Web Application Development Project ; Group mate name list: Lin Hoi Yin (12) , WanCheukLun (02) , Chan Yim Tao (5), Cheng Tak Wai Dawie (3) -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style> body {background-color: rgb(235, 228, 228); }</style>
    <title>Add Student</title>
</head>
<body>
    <div class="jumbotron">
        <div class="container"> 
            <h1>Add New Student</h1>
            <br>
            <br>
            <br>
            <button class="btn btn-info"><a style="color: white;" href="../menu">Back to Menu  </a>
            <span class="glyphicon glyphicon-home"></span></button>
            <br>
        </div>
    </div>

    <div class="container"> 
        <form action="/addstudent/addNew" method="post" enctype="multipart/form-data" onsubmit="validator()">
            <div>
                <label> Name: </label>
                <p> <input type="text" name="sname" id="sname" class="form=control" style="width:30%;"/> <font color="red"><strong><%=alertmsg%></strong></font></p>
                <script>
                    function validator() {
                        var TCode = document.getElementById("sname").value;
                        TCode.trim();
                        // if( /[0-9\~\!\@\#\$\%\^\&\*\(\)\_\+\;\'\/\"]/.test(TCode) || TCode.trim()==""){//if( /[^a-zA-Z0-9]/.test(TCode)){
                        if( /[a-zA-Z ]/.test(TCode)==false){// || TCode.trim()==""
                            alert("Please enter a name that ONLY with letters!");
                            return false;
                        }
                        return true;
                    }
                </script>
            </div>
            <br>
            <div>
                <label>Date of Birth: </label>
                <p><input type="date" value="2015-01-01" name="dob"/></p> 
            </div>
            <br>
            <div>
                <label>Gender: </label>
                <p> <input type="radio" id="F" name="gender" value="F">
                    <label for="Female">Female</label>
                    <input type="radio" id="M" name="gender" value="M">
                    <label for="male">Male</label>
                    <input type="radio" id="X" name="gender" value="X">
                    <label for="X">X</label>
                </p>
            </div>
            <br>
            <div>
                <label for="class"> Class: </label>
                <select name="clid" size="1" id="class" class="form-control" style="width:20%;">
                    <option>Please select</option>
                    <option value="1A">1A</option>
                    <option value="1B">1B</option>
                    <option value="1C">1C</option>
                    <option value="2A">2A</option>
                    <option value="2B">2B</option>
                    <option value="2C">2C</option>
                </select>
            </div>
            <br>
            <div>
                <label for="photo"> Photo: </label>
                <input type="file" name="photo" id="photo">
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="Save" />
        </form>
    </div>
</body>